@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
  margin: 0%;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 95%;
  margin: auto;
}

/* Apartado de estilos del cabecero de la página. */
.header_img {
  height: 75vh;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
}

.container_header {
  height: 75vh;
  background-color: rgba(0, 0, 0, .4);
}

.nav_logo {
  display: flex;
  align-items: center;
}

.icono_logo {
  margin:0 7px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.header_logo {
  display: inline-block;
}

.container_nav {
  color:#fff;
  height: 50px;
  z-index: 1000;
  display: flex;
  padding: 10px;
  font-size: 18px;
  transition: 0.4s;
  align-items: center;
  justify-content: space-between;
}

.container_list li {
  list-style: none;
  display: inline-block;
}

.container_list a {
  color:#fff;
  margin:0 30px;
  text-decoration: none;
}

.container_list a:hover {
  text-decoration: underline;
}

.container_circleNav {
  top:-30px;
  margin: auto;
  text-align:center;
  position: relative;
  width: max-content;
}

.icono_header {
  color:#fff;
  cursor:pointer;
  margin: 0 30px;
  font-size: 18px;
}

/* Los estilos de despliga, permiten que el menu sea fijo y que cambie de color con transición. */
.despliegaMenu {
  top: 0;
  width: 100%;
  color:#fff;
  position: fixed;
  transition: 0.4s;
  background-color: #001219;
  border-bottom: 1px solid #fff;
}

.despliegaMenu a {
  color:#fff;
}

/* Apartado de los estilos del texto principal que se encuenta en main. */
.container_cabeceroMain {
  height: 110px;
  margin: 70px auto;
  text-align: center;
}

/* Apartado de estilos de la sección de servicios, dentro de main. */

.container_servicios {
  margin-top: 50px;
}

.servicios_titulo {
  margin: 50px 0;
  font-size: 22px;
}

.icono {
  font-size: 30px;
}

.icono_servicios {
  color:#003246;
}

.container_tarjetas {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content;
}

.tarjeta {
  width: 75%;
  height: 240px;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  border-top: 10px solid #003246;
  box-shadow: 0px 0 5px 1px #000;
  background-color: rgba(225, 225, 225, 0.8);
}

.tarjeta_titulo {
  cursor: default;
  color: #000030;
}

.tarjeta_texto {
  width: 85%;
  cursor: default;
  color: #000040;
  display: block;
  text-align: center;
  margin: auto;
}

.btn_servicios {
  color:#fff;
  margin-top:15px;
  cursor: pointer;
  padding:8px 25px;
  display:inline-block;
  background-color: #003246;
  transition:border-radius 0.5s;
}

.btn_servicios:hover {
  border-radius: 30px;
  transition:border-radius 0.5s;
}

/* Apartado de estilos de la sección de testimonio de los clientes. */
.flecha {
  color: #fff;
  margin: 0 20px;
  cursor: pointer;
}

.container_testimonio {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001219;
}

.testimonios {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
}

.testimonios * {
  grid-row: 1;
  grid-column: 1;
}

.testimonio_persona {
  display: grid;
  user-select: none;
  align-items: center;
  grid-template-columns: 1fr max-content;
}

.testimonio_texto {
  color: #fff;
  width: 90%;
  grid-column: 1;
  padding: 20px 0;
}

.testimonio_titulo {
  margin: 0;
  color: #000050;
  padding: 10px 20px;
  display: inline-block;
  background-color: #fff;
}

.testimonio_imagen {
  width: 100%;
  grid-column: 2;
}

.testimonio_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonio-oculto {
  opacity: 0;
  transition: opacity 1s;
}

/* Apartado de estilos de la sección de local. */

.container_banner {
  display: grid;
  width:80%;
  height: 70vh;
  text-align: center;
  background-color:#001219;
  border: 5px solid #001219;
  box-shadow: 0 0 3px 1px #000;
}

.banner {
  opacity: 1;
  width:100%;
  height: 70vh;
  grid-row: 1;
  grid-column: 1;
  transition:all 0.5s;
}

.banner_oculto {
  margin-top: 15%;
  opacity: 0;
  width:100px;
  height:100px;
}

/* Apartado de estilos de la sección de datos. */

.container_datos {
  margin: 50px 0;
}

.datos {
  height:75px;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
  background-color: #001219;
}

.dato_empresa {
  color: #fff;
  cursor: default;
  padding-bottom: 5px;
}

.dato_empresa::before {
  content: "";
  position: absolute;
  margin-top: 20px;
  height: 5px;
  background: linear-gradient(90deg, #71cdff, #1c9ade, rgba(8, 101, 151, 1));
}

.dato_linea1::before {
  width: 200px;
  transition:width 5s;
}

.dato_linea2::before {
  width: 200px;
  transition:width 5s;
}

.dato_linea3::before {
  width: 200px;
  transition:width 5s;
}

.linea_oculta::before {
  width:0;
}

.dato_empresa:hover::before {
  background: linear-gradient(90deg, #3f9dbb, #74ceff, #a0fff6);
}

/* Apartado de estilos de la sección de colaboradores. */

.colaboradores_caja {
  color: #000040;
  gap: 30px;
  display: grid;
  height: 150px;
  padding: 0 30px;
  margin: 50px auto;
  align-items: center;
  border: 2px solid #086597;
  box-shadow: 0 0 5px 1px #000;
  background-color: #DCFFFF;
  grid-template-columns: max-content 1fr max-content;
}

.colaboradores_persona {
  padding: 10px;
  margin: auto;
  width: max-content;
}

.colaboradores_persona * {
  margin: auto;
  display: block;
  width: max-content;
}

.colaboradores_img {
  width: 70px;
  border-radius: 50%;
  margin: 10px auto;
  border: 1px solid #000050;
}

.texto_titulo {
  text-align: center;
}

.colaboradores_texto {
  width: 70%;
  cursor: default;
  margin: auto;
  text-align: justify;
}

.grado_texto {
  width: 100px;
  color: #fff;
  cursor: default;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  background-color: #000050;
}

/* Apartado de estilos de la sección de footer. */

.container_footer {
  width: 100%;
  height: 250px;
  margin-top: 115px;
  color: #eee;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #001219;
}

.container_footer div {
  width: 25%;
  height:167px;
  margin: auto;
}

.footer_contacto p {
  width: 70%;
  margin: 25px auto;
}

.footer_titulo {
  text-align: center;
}

.footer_parrafo {
  line-height: 25px;
}

.footer_redes {
  text-align: center;
}

.red_social {
  margin: 30px;
  display: inline-block;
}

.ancla_red {
  color:#fff;
  text-decoration: none;
}