@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
  margin: 0%;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 95%;
  margin: auto;
}

/* Apartado de estilos del cabecero de la página. */
.header_img {
  height: 75vh;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
}

.container_header {
  height: 75vh;
  background-color: rgba(0, 0, 0, .4);
}

.nav_logo {
  display: flex;
  align-items: center;
}

.icono_logo {
  margin:0 7px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.header_logo {
  display: inline-block;
}

.container_nav {
  color:#fff;
  height: 50px;
  z-index: 1000;
  display: flex;
  padding: 10px;
  font-size: 18px;
  transition: 0.4s;
  align-items: center;
  justify-content: space-between;
}

.container_list li {
  list-style: none;
  display: inline-block;
}

.container_list a {
  color:#fff;
  margin:0 30px;
  text-decoration: none;
}

.container_list a:hover {
  text-decoration: underline;
}

.container_circleNav {
  top:-30px;
  margin: auto;
  text-align:center;
  position: relative;
  width: max-content;
}

.icono_header {
  color:#fff;
  cursor:pointer;
  margin: 0 30px;
  font-size: 18px;
}

/* Los estilos de despliga, permiten que el menu sea fijo y que cambie de color con transición. */
.despliegaMenu {
  top: 0;
  width: 100%;
  color:#fff;
  position: fixed;
  transition: 0.4s;
  background-color: #001219;
  border-bottom: 1px solid #fff;
}

.despliegaMenu a {
  color:#fff;
}

/* Apartado de los estilos del texto principal que se encuenta en main. */
.container_cabeceroMain {
  height: 110px;
  margin: 70px auto;
  text-align: center;
}

/* Apartado de los estilos de la seccción de empresas que se encuenta en main. */

.titulo_empresas {
  margin: 50px 0;
  font-size: 22px;
}

.empresas {
  margin:100px auto;
  width: max-content;
}

.icono_empresa {
  margin:80px;
  font-size:50px;
}

.icono_transicion {
  transition: all .5s;
}


/* Apartado de estilos de la sección de servicios, dentro de main. */

.container_servicios {
  margin-top: 50px;
}

.servicios_titulo {
  margin: 50px 0;
  font-size: 22px;
}

.icono {
  font-size: 30px;
}

.icono_servicios {
  color:#003246;
}

.container_tarjetas {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content;
}

.tarjetas_ocultas * {
  font-size:0px;
}

.tarjeta {
  transition: all 4s;
  width: 75%;
  height: 240px;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  background-color:#fff;
  border-top: 10px solid #003246;
  box-shadow: 0px 0 5px 1px #808080;
}

.tarjeta_titulo {
  cursor: default;
  color: #000030;
}

.tarjeta_texto {
  width: 85%;
  cursor: default;
  color: #000040;
  display: block;
  text-align: center;
  margin: auto;
}

.btn_servicios {
  color:#fff;
  margin-top:15px;
  cursor: pointer;
  padding:8px 25px;
  display:inline-block;
  background-color: #003246;
  transition:border-radius 0.5s;
}

.btn_servicios:hover {
  border-radius: 30px;
  transition:border-radius 0.5s;
}

/* Apartado de estilos de la sección de testimonio de los clientes. */
.flecha {
  color: #fff;
  margin: 0 20px;
  cursor: pointer;
}

.container_testimonio {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001219;
}

.testimonios {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
}

.testimonios * {
  grid-row: 1;
  grid-column: 1;
}

.testimonio_persona {
  display: grid;
  user-select: none;
  align-items: center;
  grid-template-columns: 1fr max-content;
  transition: all 1s;
}

.testimonio_texto {
  color: #fff;
  width: 90%;
  grid-column: 1;
  padding: 20px 0;
}

.testimonio_titulo {
  margin: 0;
  color: #000050;
  padding: 10px 20px;
  display: inline-block;
  background-color: #fff;
}

.testimonio_imagen {
  width: 100%;
  grid-column: 2;
}

.testimonio_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonio-oculto {
  opacity: 0;
  transition: all 1s;
}

/* Apartado de estilos de la sección de formulario de main. */

.centra_formulario {
  text-align: center;
}

.formulario {
  position:relative;
  bottom:60px;
  left: 60px;
  width: 40%;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 5px 1px #808080;
}

.cabecero_formulario {
  margin: 50px 0;
  font-size: 22px;
}

.titulo_formulario {
  font-size: 1.2em;
}

.campo_formulario {
  border:none;
  outline: 0;
  width: 200px;
  margin: 0 5px;
  display: inline-block;
  border-bottom: 1px solid #808080;
}

.email_formulario {
  border:none;
  margin:30px auto;
  outline:none;
  display:block;
  width: 420px;
  border-bottom: 1px solid #808080;
}

.titulo_mensaje {
  margin:auto;
  width: 425px;
  text-align:left;
}

.mensaje_formulario {
  resize: none;
  outline: none;
  width:420px;
  border: 1px solid rgba(128, 128, 128, .8);
}

.btn_formulario {
  color:#fff;
  border:none;
  cursor:pointer;
  display: block;
  padding:10px;
  width: 425px;
  margin: 47px auto 0;
  background-color: #003246;
  transition:border-radius 0.5s;
}

.btn_formulario:hover {
  border-radius: 15px;
  transition:border-radius 0.5s;
}

.formulario_img {
  margin: auto;
  width: 700px;
  height:537px;
  display:inline-block;
}

.imagen_formulario {
  width: 690px;
  height:527px;
}

/* Apartado de estilos de la sección de datos. */

.container_datos {
  margin: 50px 0;
}

.datos {
  height:75px;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-around;
  background-color: #001219;
}

.dato_empresa {
  color: #fff;
  cursor: default;
  padding-bottom: 5px;
}

.dato_empresa::before {
  content: "";
  position: absolute;
  margin-top: 20px;
  height: 5px;
  background: linear-gradient(90deg, #71cdff, #1c9ade, rgba(8, 101, 151, 1));
}

.dato_linea1::before {
  width: 200px;
  transition:width 5s;
}

.dato_linea2::before {
  width: 200px;
  transition:width 5s;
}

.dato_linea3::before {
  width: 200px;
  transition:width 5s;
}

.linea_oculta::before {
  width:0;
}

.dato_empresa:hover::before {
  background: linear-gradient(90deg, #3f9dbb, #74ceff, #a0fff6);
}

/* Apartado de estilos de la sección de colaboradores. */

.colaboradores_caja * {
  cursor:default;
}

.colaboradores_caja {
  display:grid;
  color:#fff;
  margin:30px auto;
  text-align: center;
  grid-template-rows: 1;
  background-color: #001219;
  box-shadow: 0 0 5px 1px #808080;
  grid-template-columns: 1fr max-content;
}

.colaboradores_titulo {
  margin: 50px 0;
  font-size: 22px;
}

.colaboradores_img {
  width: 200px;
  height: 200px;
  object-fit:cover;
  border-radius: 50%;
}

.colaborador_nombre {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.colaboradores_persona {
  padding: 15px;
}

.grado_texto {
  width: 200px;
  color: #000;  
  cursor: default;
  padding: 10px 20px;
  display: inline-block;
  background-color: #fff;
  transition:border-radius 0.5s;
}

.grado_texto:hover {
  border-radius: 30px;
  transition:border-radius 0.5s;
}

.texto_titulo {
  margin:0;
}

.texto_parrafo {
  width: 80%;
  text-align:justify;
  margin:5px auto 0;
}

.img_tarjeta {
  opacity: .5;
  width: 404px;
  height: 404px;
  display: block;
}

/* Apartado de estilos de la sección de footer. */

.container_footer {
  width: 100%;
  height: 300px;
  margin-top: 115px;
  color: #eee;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: #001219;
}

.container_footer div {
  width: 25%;
  height:167px;
  margin: auto;
}

.footer_contacto p {
  width: 70%;
  margin: 25px auto;
}

.footer_titulo {
  text-align: center;
}

.footer_parrafo {
  line-height: 25px;
}

.footer_redes {
  text-align: center;
}

.red_social {
  margin: 30px;
  display: inline-block;
}

.ancla_red {
  color:#fff;
  text-decoration: none;
}

.footer_linea {
  overflow: hidden;
  text-align: center;
  background-color: #001219;
}

.linea_footer {
  margin:0 auto;
  width:95%;
  border-color:#fff;
}

.parrafo_derechos {
  color:#fff;
  margin:15px 0;
  display: inline-block;
}